#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :kaocha.testable/parallel? true
          :kaocha.testable/parallelism 4}]
 :capture-output? true}