html {
    zoom: 1.4;
}

* {
    background-color: #000;
    color: #DDD;
}

.entries {
    display: inline-block;
    font-family: monospace;
}

.entry {
    list-style-type: none;
}

.tx:hover {
    background-color: #222;
    cursor: pointer;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    /* shift right to always see the balances */
    transform: translateY(-50%);
}